$color-black: #000000;
$color-gray-1: #222222;
$color-gray-2: #5a5a5a;
$color-gray-3: #999999;
$color-white: #ffffff;
$color-beige: #e1d9c4;
$color-brown: #2d1e14;
$color-brown--light: #5a4627;
$color-claret: #772e2c;
$color-ivory: #fffff0;
$color-green: #506132;
$color-green--light: #1db954;
$color-red: #ff0033;
$color-red--shade: #ee0022;

$textColor: $color-gray-1;
$backgroundColor: $color-white;

$headerBgColor: $color-ivory;
$navTextColor: $color-brown--light;
$navActiveTextColor: $color-red;

$buttonColor: $color-white;
$buttonBgColor: $color-red;
$buttonHoverBgColor: $color-red--shade;
