@use '../utilities/variables' as *;

.section {
  width: 100%;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: $sectionBgColor;

  .l-container {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
  }

  &__img {
    display: block;
    width: 100%;
    height: auto;
    max-width: 350px;
    margin: 0 auto;
  }

  &__content {
    width: 100%;
    margin: 40px auto 0 auto;

    &--small {
      .section__content-group {
        width: 100%;
        max-width: none;
        margin: 0 auto 30px auto;
      }
    }
  }

  &__heading {
    font-size: 1.9rem;
    font-weight: 700;
    // line-height: 1.1;
    color: $color-brown;
    opacity: 0.8;
    margin-bottom: 0.9em;

    .u-text-muted {
      color: $color-brown--light;
      opacity: 0.7;
    }
  }

  &__lead {
    font-size: 1rem;
    color: $color-brown--light;
    line-height: 1.3;
    text-align: justify;
    margin-bottom: 40px;

    & > span.u-text-muted {
      font-weight: 700;
      opacity: 0.65;
    }

    & > span.u-text-bolded {
      font-weight: 600;
      color: $color-brown;
      opacity: 0.85;
    }
  }

  &__content-group {
    width: 100%;
    max-width: 65ch;
    margin: 40px auto 25px 0;
  }

  &__paragraph {
    font-size: 1rem;
    max-width: 65ch;
    margin: 1em auto 1em 0;

    &--muted {
      font-size: 0.9rem;
      font-weight: 500;
      color: $color-brown--light;
      opacity: 0.65;
    }

    & > span.u-text-bolded {
      color: $color-brown;
      opacity: 0.8;
      font-weight: 700;
    }
    & > span.u-text-muted {
      color: $color-brown--light;
      opacity: 0.7;
    }
  }

  .content-group {
    &__heading {
      font-size: 1.2rem;
      font-weight: 700;
      color: $color-brown;
      opacity: 0.8;
      text-transform: uppercase;
      margin-bottom: 0.6em;
    }

    &__paragraph {
      font-size: 0.95rem;
      font-weight: 500;
      color: $color-brown;
      opacity: 0.85;
      text-align: justify;
      margin-bottom: 1.1em;

      & > span.u-text-bolded {
        font-weight: 700;
        color: $color-brown;
        opacity: 0.85;
      }
    }

    &__info {
      font-size: 1rem;
      color: $color-brown;
      margin-bottom: 8px;

      & > span:first-child {
        font-weight: 600;
        color: $color-brown--light;
        opacity: 0.7;
      }

      & > span.u-text-bolded {
        font-weight: 700;
        opacity: 0.85;
      }

      span.u-text-muted {
        opacity: 0.6;
        font-weight: 600;
      }

      a,
      a:hover,
      a:visited {
        font-family: 'Roboto';
        font-size: 0.9em;
        font-weight: 700;
        opacity: 0.85;
        text-transform: uppercase;
        text-decoration: underline;
      }
    }

    &__annotation {
      font-size: 0.9rem;
      font-weight: 400;
      color: $color-brown;
      opacity: 0.6;
    }
  }

  .section__content--small .content-group {
    &__heading {
      font-size: 1rem;
      margin-bottom: 5px;
    }

    &__info {
      font-size: 0.85rem;
      line-height: 1.5;
    }

    &__annotation {
      font-size: 0.8rem;
      padding-right: 20px;
    }
  }

  &--light {
    background-color: $color-white;
  }

  &--secondary {
    background-color: $color-ivory;
  }

  &--other {
    background-color: $color-gray-4;

    .section__heading {
      font-size: 1rem;
      color: $color-gray-1;

      .u-text-muted {
        color: $color-gray-2;
      }
    }
  }

  &--columns {
    .l-container {
      display: flex;
      flex-wrap: wrap;
    }
  }

  &-separator {
    width: 100%;
    padding: 0 20px;
    background-color: $sectionBgColor;
    margin-top: -25px;

    .divider {
      position: relative;
      width: 100%;
      height: 30px;
      margin: 0 auto;
      background-position: left center;
      background-repeat: no-repeat;
      background-image: url('../assets/img/decorators/section-divider_sm.png');

      &::before,
      &::after {
        content: '';
        position: absolute;
        height: 100%;
        width: 4px;
        background-color: $color-brown;
      }

      &::before {
        left: 0;
      }
      &::after {
        right: 0;
      }
    }
  }

  .fb-link-img {
    height: 1.1rem;
    width: auto;
  }

  .map-container {
    width: 100%;
  }

  .responsive-embed {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;

    iframe {
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
    }
  }
}

@media screen and (min-width: 360px) {
  .section {
    .fb-link-img {
      height: 1.2rem;
    }
  }
}

@media screen and (min-width: 576px) {
  .section {
    .l-container {
      max-width: 536px;
      padding: 0;
    }

    &__heading {
      font-size: 2rem;
    }

    &-separator {
      padding: 0;

      .divider {
        max-width: 536px;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .section {
    .l-container {
      max-width: 708px;
    }

    &__img {
      max-width: 400px;
    }

    &__heading {
      font-size: 2.1rem;
    }

    &__lead {
      font-size: 1.05rem;
    }

    &__paragraph {
      font-size: 1.05rem;

      &--muted {
        font-size: 0.95rem;
      }
    }

    .content-group {
      &__heading {
        font-size: 1.25rem;
      }

      &__paragraph {
        font-size: 1rem;
      }

      &__info {
        font-size: 1.05rem;
      }

      &__annotation {
        font-size: 0.95rem;
      }
    }

    .section__content--small .content-group {
      &__info {
        font-size: 0.9rem;
      }

      &__annotation {
        font-size: 0.85rem;
      }
    }

    &--other {
      .section__heading {
        font-size: 1.05rem;
      }
    }

    &-separator {
      .divider {
        max-width: 708px;
        background-image: url('../assets/img/decorators/section-divider_md.png');
      }
    }

    .fb-link-img {
      height: 1.3rem;
    }
  }
}

@media screen and (min-width: 992px) {
  .section {
    .l-container {
      max-width: 892px;
    }

    &--columns {
      .l-container {
        flex-wrap: nowrap;
      }

      .section__content {
        display: flex;
        flex-direction: column;
        flex-grow: 0;
        max-width: 400px;
        margin-right: 20px;
      }

      .section__content-group.l-desktop-order-last {
        order: 2;
        margin-bottom: 0;
      }
    }

    &--float {
      .section__img {
        float: right;
        max-width: 450px;
        margin: 0;
        margin-top: -40px;
        shape-outside: circle(50%);
        margin-left: 2.2rem;
      }

      .section__content {
        margin-top: 40px;
      }
    }

    &__heading {
      font-size: 2.2rem;
    }

    &__lead {
      font-size: 1.1rem;
    }

    &__paragraph {
      font-size: 1.1rem;

      &--muted {
        font-size: 1.05rem;
      }
    }

    .content-group {
      &__heading {
        font-size: 1.3rem;
      }

      &__paragraph {
        font-size: 1.05rem;
      }

      &__info {
        font-size: 1.1rem;
      }

      &__annotation {
        font-size: 1rem;
      }
    }

    .section__content--small .content-group {
      &__heading {
        font-size: 1.05rem;
      }
    }

    &-separator {
      .divider {
        height: 35px;
        max-width: 892px;
        background-image: url('../assets/img/decorators/section-divider_lg.png');
      }
    }

    .map-container {
      align-self: flex-end;
    }
  }
}

@media screen and (min-width: 1200px) {
  .section {
    .l-container {
      max-width: 1100px;
    }

    .section__content--small .content-group {
      &__info {
        font-size: 0.95rem;
      }
    }

    &--other {
      .section__heading {
        font-size: 1.1rem;
      }
    }

    &-separator {
      .divider {
        max-width: 1100px;
        background-image: url('../assets/img/decorators/section-divider_xl.png');
      }
    }
  }
}
